/* Import: styles */

@media screen {
    header nav .bulk-imports::before,
    header nav .bulk-importers::before,
    header nav .bulk-mappings::before,
    .bulk-imports .subhead::before,
    .bulk-importers .subhead::before,
    .bulk-mappings .subhead::before,
    .bulk-imports .no-resources:before,
    .bulk-importers .no-resources:before,
    .bulk-mappings .no-resources:before {
        content:"";
    }

    .bulk-label-sub {
        font-style: italic;
        opacity: .5;
        font-size: small;
    }
    /* Fix default css of tables in Omeka: space and no-break space. */
    .bulk-label-sub:before {
        content: '  ';
    }

    .bulk-imports.log.browse td:first-child,
    .bulk-imports.log.browse th:first-child {
        width: 67%;
    }

    .bulk-imports .actions .dry-run {
        font-style: italic;
        font-size: 0.8em;
        padding-right: 8px;
    }

    /* Bulk import */
    .bulk-mappings #content form fieldset > .field:nth-of-type(2) .field-meta {
        display: none;
    }
    .bulk-mappings #content form fieldset > .field:nth-of-type(2) .inputs {
        width: 100%;
    }
    .bulk-mappings .CodeMirror {
        font-family: inherit;
        font-size: unset;
        height: auto;
    }
    .bulk-mappings .inputs .CodeMirror {
        font-family: inherit;
        font-size: unset;
        height: auto;
        line-height: initial;
    }

    /* Resource add/edit media files and folders */
    .media-files-input-full-progress {
        text-align: right;
    }
    .media-files-input-full-progress.empty {
        display: none;
    }
    .media-files-input-preview > ol > li {
        height: 80px;
        margin-bottom: 16px;
    }
    .media-files-input-preview .media-info {
        display: inline-flex;
        align-items: initial;
        max-width: 100%;
        min-width: 0;
    }
    .media-files-input-preview .media-info.messages {
        display: block;
    }
    .media-files-input-preview .media-info.messages .error {
        background-color: #f4b4b4;
        border-radius: 3px;
        padding: 6px 10px;
        margin-top: 6px;
        display: block;
        width: 100%;
    }
    .media-files-input-preview .media-info .resource-thumbnail {
        height: 64px;
        width: 64px;
        margin-right: 6px;
    }
    .media-files-input-preview .media-info .resource-thumbnail img {
        max-height: 64px;
        max-width: 64px;
    }
    .media-files-input-preview .media-info .resource-thumbnail .upload-progress {
        width: 64px;
        height: 10px;
        max-height: 64px;
        max-width: 64px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .media-files-input-preview .media-info .resource-name {
        flex: 1;
        min-width: 0;
    }
}
