/* Import: styles */

@media screen {
    header nav .bulk-imports::before,
    header nav .bulk-importers::before,
    header nav .bulk-mappings::before,
    .bulk-imports .subhead::before,
    .bulk-importers .subhead::before,
    .bulk-mappings .subhead::before,
    .bulk-imports .no-resources:before,
    .bulk-importers .no-resources:before,
    .bulk-mappings .no-resources:before {
        content:"";
    }

    .bulk-label-sub {
        font-style: italic;
        opacity: .5;
        font-size: small;
    }
    /* Fix default css of tables in Omeka: space and no-break space. */
    .bulk-label-sub:before {
        content: '  ';
    }

    .bulk-imports.browse table td.process .tablesaw-cell-content {
        display: block;
    }

    .bulk-imports .actions .dry-run {
        font-style: italic;
        font-size: 0.8em;
        padding-right: 8px;
    }

    .bulk-imports .actions .no-action {
        padding-right: 24px;
        vertical-align: top;
    }

    /* Resource add/edit media files and folders */
    .media-bulk-upload .bulk-drop {
        display: flex;
        justify-content: space-between;
        gap: 12px;
    }
    /* @todo Improve drag and drop with a file (requires js) */
    .media-bulk-upload .bulk-drop:hover {
        outline: 2px dashed grey;
    }
    #media-list .bulk-upload-actions {
        width: 100%;
    }
    .media-files-input-full-progress {
        text-align: right;
    }
    .bulk-upload-actions-pre {
        display: flex;
        justify-content: space-between;
    }
    .bulk-upload-actions-pre.empty,
    .bulk-upload-actions-pre .empty {
        display: none;
    }
    .bulk-upload-actions-pre > div {
        display: flex;
        flex-direction: column;
    }
    .media-files-input-preview > ol {
        width: 100%;
    }
    .media-files-input-preview > ol > li {
        height: 80px;
        margin-bottom: 16px;
    }
    .media-files-input-preview > ol > li > div {
        display: flex;
    }
    .media-files-input-preview .media-info {
        display: inline-flex;
        align-items: initial;
        max-width: 100%;
        min-width: 0;
    }
    .media-files-input-preview .media-info.messages {
        display: block;
    }
    .media-files-input-preview .media-info.messages .error {
        background-color: #f4b4b4;
        border-radius: 3px;
        padding: 6px 10px;
        margin-top: 6px;
        display: block;
        width: 100%;
    }
    .media-files-input-preview .media-info .resource-thumbnail {
        height: 64px;
        width: 64px;
        margin-right: 6px;
    }
    .media-files-input-preview .media-info .resource-thumbnail img {
        max-height: 64px;
        max-width: 64px;
    }
    .media-files-input-preview .media-info .resource-thumbnail .upload-progress {
        width: 64px;
        height: 10px;
        max-height: 64px;
        max-width: 64px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .media-files-input-preview .media-info .resource-name {
        flex: 1;
        min-width: 0;
    }

    /* Edit mappings. */
    .bulk-mappings #content form fieldset > .field:nth-of-type(2) .field-meta {
        display: none;
    }
    .bulk-mappings #content form fieldset > .field:nth-of-type(2) .inputs {
        width: 100%;
    }
    .bulk-mappings .CodeMirror {
        font-family: inherit;
        font-size: unset;
        height: auto;
    }
    .bulk-mappings .inputs .CodeMirror {
        font-family: inherit;
        font-size: unset;
        height: auto;
        line-height: initial;
    }
    .bulk-mappings .CodeMirror {
        border: 1px solid silver;
        min-height: 70vh;
    }
    .bulk-mappings .CodeMirror-scroll {
        min-height: 70vh;
    }
    .bulk-mappings .CodeMirror pre.CodeMirror-placeholder {
        color: #999;
    }
}
