/* Import: styles */

@media screen {
    header nav .bulk-imports::before,
    header nav .bulk-importers::before,
    .bulk-imports .subhead::before,
    .bulk-importers .subhead::before,
    .bulk-imports .no-resources:before,
    .bulk-importers .no-resources:before {
        content:"";
    }

    .bulk-label-sub {
        font-style: italic;
        opacity: .5;
        font-size: small;
    }
    /* Fix default css of tables in Omeka: space and no-break space. */
    .bulk-label-sub:before {
        content: '  ';
    }
}
